<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand" [routerLink]="['/tomos']">
      <span class="brand-text">One Piece</span>
    </a>
    
    <div class="navbar-center">
      <img src="../../../assets/One-Piece-Logo-PNG-Photo.webp" alt="Logo One Piece" class="navbar-logo">
    </div>
    
    <div class="navbar-links">
      <ul class="navbar-menu">
        <li class="menu-item">
          <a routerLink="/tomos" routerLinkActive="active-link">
            <img src="../../../assets/icons8-home-50.png" alt="Inicio" class="menu-icon">
            <span>Inicio</span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/tomos/crear" routerLinkActive="active-link">
            <img src="../../../assets/icons8-books-64.png" alt="Crear Tomo" class="menu-icon">
            <span>Agregar Tomo</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

